Data/Transportation/Routes_xsd/Fahrweg_Linie_WGS84.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:ogdlinz="http://www.safe.com/gml/fme" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.safe.com/gml/fme" elementFormDefault="qualified">
<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
<element name="Linie73" type="ogdlinz:Linie73Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie73Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie11" type="ogdlinz:Linie11Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie11Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie71" type="ogdlinz:Linie71Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie71Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie12" type="ogdlinz:Linie12Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie12Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie33" type="ogdlinz:Linie33Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie33Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie50" type="ogdlinz:Linie50Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie50Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie3" type="ogdlinz:Linie3Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie3Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie25" type="ogdlinz:Linie25Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie25Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie43" type="ogdlinz:Linie43Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie43Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie101" type="ogdlinz:Linie101Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie101Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie45a" type="ogdlinz:Linie45aType" substitutionGroup="gml:_Feature"/>
<complexType name="Linie45aType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie104" type="ogdlinz:Linie104Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie104Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="LinieN4" type="ogdlinz:LinieN4Type" substitutionGroup="gml:_Feature"/>
<complexType name="LinieN4Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="LinieN3" type="ogdlinz:LinieN3Type" substitutionGroup="gml:_Feature"/>
<complexType name="LinieN3Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie17" type="ogdlinz:Linie17Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie17Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie102" type="ogdlinz:Linie102Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie102Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie18" type="ogdlinz:Linie18Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie18Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie26" type="ogdlinz:Linie26Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie26Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie19" type="ogdlinz:Linie19Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie19Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie70" type="ogdlinz:Linie70Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie70Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="LinieN2" type="ogdlinz:LinieN2Type" substitutionGroup="gml:_Feature"/>
<complexType name="LinieN2Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie38" type="ogdlinz:Linie38Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie38Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie191" type="ogdlinz:Linie191Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie191Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie27" type="ogdlinz:Linie27Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie27Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie192" type="ogdlinz:Linie192Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie192Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie105" type="ogdlinz:Linie105Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie105Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie103" type="ogdlinz:Linie103Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie103Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie33a" type="ogdlinz:Linie33aType" substitutionGroup="gml:_Feature"/>
<complexType name="Linie33aType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie2" type="ogdlinz:Linie2Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie2Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie1" type="ogdlinz:Linie1Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie1Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie72" type="ogdlinz:Linie72Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie72Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie41" type="ogdlinz:Linie41Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie41Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie106" type="ogdlinz:Linie106Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie106Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie46" type="ogdlinz:Linie46Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie46Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie45" type="ogdlinz:Linie45Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie45Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="Linie77" type="ogdlinz:Linie77Type" substitutionGroup="gml:_Feature"/>
<complexType name="Linie77Type">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIE" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
</schema>
