Data/Transportation/Routes_xsd/Fahrweg_Graph_WGS84.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:ogdlinz="http://www.safe.com/gml/fme" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.safe.com/gml/fme" elementFormDefault="qualified">
<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
<element name="Fahrweg" type="ogdlinz:FahrwegType" substitutionGroup="gml:_Feature"/>
<complexType name="FahrwegType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="ID" minOccurs="0" type="short"/>
<element name="LINIEN" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element name="VERKEHRSMITTEL" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="128"/>
</restriction>
</simpleType></element>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
</schema>
